.front-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
}

.header {
    display: flex;
    justify-content: space-around;
}

.logo {
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 12px;
}

.desc {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.collection {
    max-width: 200px;
}

.random-info {
    text-align: center;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact {
    display: flex;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}